.thumbnail {
    width: 100%;
}

.youtube-logo {
    height: 20px;


}

.search-button {
    height: 44px;
    width: 66px;
    background-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    margin-left: -1px;
    margin-right: 10px;
    position: relative;


}

.search-button,
.voice-search-button,
.upload-button,
.youtube-apps-button,
.notifications-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-button .search-text,
.voice-search-button .search-text,
.upload-button .search-text,
.youtube-apps-button .search-text,
.notifications-button .search-text {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

}

.upload-button img,
.youtube-apps-button img,
.notifications-button img {
    display: block;
    margin: 0;
    padding: 0;
}

.notifications-icon {
    margin-left: 2px;
}

.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




.search-button:hover .search-text,
.voice-search-button:hover .search-text,
.upload-button:hover .search-text,
.youtube-apps-button:hover .search-text,
.notifications-button:hover .search-text {
    opacity: 1;
    transition: opacity 0.18s;
}

.search-icon {
    height: 26px;

}




.search-bar {
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.06);
    width: 0;

}

search-bar::placeholder {
    font-size: 16px;
    font-family: Roboto, Arial;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245)
}

.voice-search-icon {
    height: 24px;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;

}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;


}